html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  margin: auto;
  background-image: url(https://assets.codepen.io/4927073/Group2.png), url(https://assets.codepen.io/4927073/Background6.png);
  background-image: url(https://assets.codepen.io/4927073/Group2.png), linear-gradient(33deg, #edf2f7, #edf2f7);
  background-image: url(https://assets.codepen.io/4927073/Group2.png), linear-gradient(33deg, #2c303a, #2c303a);
  background-size: cover;
  background-position: 50% 50%;
}

.envelope {
  content: url(https://assets.codepen.io/4927073/Envelope3.png);
  width: 430px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Center it */
  filter: drop-shadow(1.5px 0.75px 1.75px #4d4d4d);
}

/* .card {
  position: relative;
  width: 262px;
  height: 372px;
  margin: auto;
  box-shadow: inset 5px 0px 15px 0px rgba(0, 0, 0, 0.1),
    3px 0px 3px -2px rgba(0, 0, 0, 0.3);
  background-color: #fffffa;
      transform: scale(1.05);
  left: 12px;
} */
.card {
  position: relative;
  width: 262px;
  height: 380px;
  margin: auto;
  box-shadow: inset 5px 0px 15px 0px rgba(0, 0, 0, 0.1),
    3px 0px 3px -2px rgba(0, 0, 0, 0.3);
  background-color: #fffffa;
  transform: scale(1.05);
  left: 12px;
  border-radius: 10%;
}

.front {
  position: absolute;
  width: 110%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  margin: auto;
  border: 1px solid #e0e0db;
  backface-visibility: hidden;
  background-color: #e8e6e3;
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 1s ease-in-out;
  filter: saturate(1.125) brightness(1.0125);
  border-radius: 10%;
}

.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: rgb(205, 205, 205);
  border-radius: 10%;

}

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 2px 0px rgba(0, 0, 0, 0.3),
    inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #fffffa;
  border-radius: 10%;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  margin: auto;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  box-shadow: inset 5px 0px 15px 0px rgba(0, 0, 0, 0.1),
    3px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 1s ease-in-out;
  background-color: #fff;
  border-radius: 10%;
}

.text-container {
  width: 80%;
  height: 80%;
  margin: 30px;
  display: auto;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  color: black;
  text-align: left;

}

.text-container #forte {
  display: inline-block;
  text-align: center;
  padding-left: 30px;
  padding-top: 3px;
}


.f-box {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: transparent;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.f-box img {
  margin-top: 0px;
  height: 100%;
  width: auto;
}




.envelope {
  content: url(https://assets.codepen.io/4927073/Envelope3.png);
  width: 430px;
  position: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1.5px 0.75px 1.75px #4d4d4d);
}

/* ... existing card styles ... */

@media (max-width: 675px) {
  .envelope {
    width: 380px;
  }

  .card {
    height: 330px;
    width: 230px;
  }
}

@media (max-width: 480px) {
  .envelope {
    width: 90vw;
    max-width: 350px;
  }

  .card {
    width: 80vw;
    max-width: 300px;
    height: 115vw;
    max-height: 450px;
    left: 5px;
  }

  .text-container {
    margin: 10px;
    width: 90%;
    overflow-y: auto;
    max-height: 92%;
    text-align: center;
    /* Center text */
  }

  .text-container p {
    font-size: 0.85rem;
    /* Increased from 0.75rem */
    line-height: 1.3;
  }

  .page-image {
    max-height: 90px;
    max-width: 90%;
  }

  .nav-btn {
    font-size: 0.7rem;
    padding: 5px 8px;
  }
}


/* Coração */

.coracao {
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  /* padding-inline-start: 100px;
  padding-right: 100px; */
  width: 300px;
  padding-left: 20px;
  padding-top: 50px;


}

svg {
  overflow: visible;
}

svg path#line {
  fill: none;
  /* stroke: #e00000; */
  stroke: white;
  stroke-width: 2;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 4s linear infinite;
}

svg path#heart {
  transform-origin: 50% 50%;
  animation: blink 4s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }

  80% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  60% {
    opacity: 0;
    transform: scale(0);
  }

  70% {
    opacity: 1;
    transform: scale(1.2);
  }

  75% {
    opacity: 1;
    transform: scale(1.0);
  }

  80% {
    opacity: 1;
    transform: scale(1.2);
  }

  85% {
    opacity: 1;
    transform: scale(1.0);
  }

  100% {
    opacity: 0;
    transform: scale(1.0);
  }
}


#img1 {
  border-radius: 10%;
  box-shadow: inset;
}


#botao {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 2px;
}

/* --- Pagination Styles --- */
.text-container {
  flex-direction: column;
  /* Ensure content stacks vertically */
}

.page {
  display: none;
  /* Hide all pages by default */
  animation: fadeIn 0.5s;
  width: 100%;
}

.page.active {
  display: block;
  /* Show only the active page */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav-buttons {
  display: auto;
  justify-content: space-between;
  margin-top: 12px;
  width: 100%;
  pointer-events: auto;
  /* Ensure clickable */
}

.nav-btn {
  background: rgba(0, 0, 0, 0.05);
  /* Slight background */
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.8rem;
  transition: all 0.2s;
  color: #555;
  z-index: 10;
  /* Ensure on top */
}

.nav-btn:hover {
  background: #333;
  color: #fff;
  border-color: #333;
}

.page-image {
  max-width: 100%;
  max-height: 150px;
  width: auto;
  display: block;
  object-fit: contain;
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}